.text-align-center {
	text-align: center;
}


/******************
  ALERT MESSAGE
******************/
.container-alert-flash {
    position: fixed;
    top: 2rem;
    z-index: 2000;
    width: 100%;
    right: 37rem;
    margin: 0px;
    display: none;
}


@media (max-width: 480px) {
  .container-alert-flash {
    right: 0;
  }
}


/****************
  IMAGE THUMBNAILS
  ****************/

.showcase .thumb {
	height: 80px;
	width: 80px;
	margin-bottom: 1px;
	border: 1px solid #eee;
	display: inline-block;
}

.showcase .thumb > img {
	max-height: 100%;
	display: block;
}

.showcase .showing img{
	display: block;
	margin: auto;
	max-height: 400px;
}


@media (max-width: 480px){

	.showing {
		height: 400px;
		display: block;
	}

	.showing img {
		max-height: 100%;
	}
}

/************************
	CAROUSEL
************************/

/* Carousel base class */
.carousel, .carousel-control, .carousel-inner {
  height: 400px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: -120px;
  left: 0;
  min-width: 100%;
}


.carousel-caption {
  bottom: 150px;
}

.carousel {
	height: 400px;
	overflow: hidden;
}


.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

@media (max-width: 480px) {
  /* Carousel base class */
  .carousel, .carousel-control, .carousel-inner {
    height: 270px;
  }

  .carousel-inner > .item {
    height: 270px;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 25px;
  }

  /* Declare heights because of positioning of img element */
  .carousel .item {
    background-color: #777;
  }
  .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%; 
  }


/* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}



/******************
  EXPLORE SECTION
  *****************/

.section {
  margin: 0;
  display: block;
  height: 250px;
  background-color: #333;
  color: #fff;
}

.section > h2 {
  margin-top: 0;
  padding-top: 40px; 
}

.category-links {
  font-size: 25px;
  text-align: center;
  font-weight: lighter;
  color: aqua;
}

a.category-links {
  font-size: 25px;
  text-align: center;
  color: aqua;
}

a.category-links:hover {
  text-decoration: none;
  color: coral;
}