body {
  min-height: 1000px;
}

input[type="text"], input[type="password"] {
	text-indent: 10px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.dropdown-menu {
  background: #222;
}

.dropdown-menu .form-control {
  margin-bottom: 4px;
}


a.cart {
  position: absolute;
  color: #777;
  top: 1.5rem;
  font-size: 2rem;
  right: 0;
  margin-right: 25rem;
}


@media (max-width: 770px){

  a.cart {
    margin-right: 1rem;
  }

}


@media (max-width: 770px) {
  .navbar-brand {
    margin-left: 50px;
  }

  .navbar-toggle {
    position: absolute;
    left: 10px;
  }

  .navbar input[type="text"], input[type="password"] {
    margin-left: 10px;
    width: 95%;
  }

  button[type="submit"] {
    display: block;
    margin-left: 10px;
    width: 95% !important;
  }
}







/*
.navbar-default .navbar-brand {
  color: #FFF;
}

.navbar-default .navbar-brand:hover {
  color: #777;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #999;
}

.navbar-default .navbar-toggle {
 border-color: transparent !important;
}

.navbar-toggle:hover {
	background-color: #1A5F23 !important;
}

.navbar-toggle {
	background-color: #0E3D14 !important;
}*/