{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block head_title %}eCommerce{% endblock %}</title>

    {% include 'head_css.html' %}

      <style>
      {% block style %}{% endblock %}
      </style>



  </head>

  <body>
  {% include 'navbar.html' %}

  {% if messages %}
  <div class="container">
    <div class="alert alert-success text-center alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p><br>
      {% endfor %}
    </div>
  </div>

  {% endif %}

  {% block featured %}
      {% if featured_list %}
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          {% for featured_product in featured_list %}
          <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 == 0 %}class="active"{% endif %}></li>
          {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          {% for featured_product in featured_list %}
          <div class="item {% if forloop.counter0 == 0%}active{% endif %}">
            <img src="{{ featured_product.image.url }}" alt="Featuring">
            <div class="carousel-caption">
              <a href="{{ featured_product.product.get_absolute_url }}" class="btn btn-info">Buy Now</a>
            </div>
          </div>
          {% endfor %}

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    {% endif %}
  {% endblock %}

  <div class="container">
  {% block content %}

  {% endblock %}
  </div>

  {% include "javascript.html" %}
    

    <script type="text/javascript">
    $(document).ready(function(){
      {% block jquery %}
      {% endblock %}
    });
    </script>
    
  </body>
</html>