{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block head_title %}Welcome | {{ block.super }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}

body {
	background: #333;
}
{% endblock %}
</style>

	{% block featured %}
		{{ block.super }}
	{% endblock %}

{% block content %}
<div class="section text-center">
	<h2><a href="{% url 'products' %}" class="btn btn-primary btn-block btn-lg">Explore</a></h2>
	<div class="container">
		<div class="row">
			{% for category in categories %}
			<div class="col-sm-4 text-center">
				<a href="{{ category.get_absolute_url }}" class="category-links">{{ category }}</a>
			</div>
			{% cycle '' '' '</dv><div class="row">' %}
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}