{% extends "base.html" %}



{% block content %}

<div class="row">
	<!-- MAIN -->
	<div class="col-sm-8">
		<h2>{{ object.title }}</h2>

		{% if object.productimage_set.count > 0 %}
		<!-- SHOWCASE -->
		<div class="row showcase">

			<!-- MAIN IMAGE -->
			<div class="col-sm-10 pull-right">
				<div class="showing">
					<img id="img" class="img-responsive" src="{{ object.get_img_url }}">
				</div>
			</div>
			<!-- MAIN IMAGE END -->

			<!-- THUMBNAILS -->
			<div class="col-sm-2">
				{% for img in object.productimage_set.all %}
					<div class="thumb">
						<img class="img-responsive" src="{{ img.image.url }}">
					</div>
				{% endfor %}
			</div>
			<!-- THUMBNAILS END -->

		</div>
		<!-- SHOWCASE ROW END -->
		{% endif %}
		<hr>
	</div>
	<!-- MAIN CLOSE -->

	<!-- SIDEBAR -->
	<div class="col-sm-4">
		{% if object.variation_set.count > 1 %}
			<h3 id='price'>{{ object.variation_set.first.price }}</h3>
			<select class="form-control variation_select">
			{% for var_obj in object.variation_set.all %}
				<option data-sale-price="{% if var_obj.sale_price %}{{ var_obj.sale_price }}{% endif %}" data-price="{{ var_obj.price }}" value="{{ var_obj.id }}">{{ var_obj }}</option>
			{% endfor %}
			</select>

		{% else %}
			<h3 id='price'>
			{{ object.variation_set.first.price }}

			<select class="form-control variation_select">
			{% for var_obj in object.variation_set.all %}
				<option style="display:none;" data-sale-price="{% if var_obj.sale_price %}{{ var_obj.sale_price }}{% endif %}" data-price="{{ var_obj.price }}" value="{{ var_obj.id }}">{{ var_obj }}</option>
			{% endfor %}
			</select>
			</h3>
		{% endif %}

		<br>
		<a href="#">Add to Cart</a>

		<hr>
		<p>Share</p>
		<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
		<i class="fa fa-facebook-square fa-3x"></i></a>
		<a href="https://twitter.com/home?status={{ request.build_absolute_uri }}">
		<i class="fa fa-twitter-square fa-3x"></i></a>

	</div>
	<!-- SIDEBAR CLOSE -->

</div>

<div class="row">
	<!-- MAIN TEXT -->
	<div class="col-sm-8">
		<p class="lead">{{ object.description }}</p>
	</div>
	<!-- MAIN TEXT END -->

	<!-- LOWER SIDEBAR -->
	<div class="col-sm-4">
		<h4>Related Products</h4>
		<hr>
		<div class="row">
		{% for product in related %}
			{% if product.active %}
				<div class="col-xs-6 col-sm-4">
					{% include "products/product_thumbnail.html" with object=product %}
				</div>
				{% cycle '' '' '' '</dv><div class="row">' %}
			{% endif %}
		{% endfor %}
		</div>
	</div>
	<!-- LOWER SIDEBAR END -->
</div>



{% endblock %}







<script type="text/javascript">
{% block jquery %}

	var main_image = $('.showing img')

	active_image = $(".thumb img:first")
	
	$('.thumb img').on("click", function(){
		link = $(this).attr("src")
		main_image.attr({"src": link})
	})


	function set_price(){
		var price = $(".variation_select option:selected").attr("data-price")
		var sale_price = $(".variation_select option:selected").attr("data-sale-price")
	
		if (sale_price != "") {
			$("#price").html(sale_price + "<small class='text-danger'> <s>" + price + "</s></small>")
		} else {
			$("#price").text(price)
		}
	}
	set_price()
	$(".variation_select").change(function(){
		set_price()
	})

{% endblock %}
</script>
